<div class="home-header"> 
  {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span></h1>
    
    {{#if toughtsQty}}
      <h5><span>{{toughtsQty}}</span> resultados encontrados para o termo <span>{{search}}</span></h5>
    {{else}}
      <h5>nenhum resultado encontrado</h5>
    {{/if }}

  {{else}}
    <h1>Conheça alguns dos nossos <span>pensamentos</span>:</h1>
  {{/if }}
  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Deseja buscar algum pensamento?">
    <input type="submit" class="btn" value="Buscar">
  </form>

  <div class="order-container">
    <span>Ordernar por:</span>
    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="search" value="new">
      <button type="submit">Novos</button>
    </form>

    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="search" value="old">
      <button type="submit">Antigos</button>
    </form>

    <a href="/">Limpar</a>

    </div>

    <div>
      {{#each toughts}}
        <figure>
          <blockquote>
            "{{this.title}}"
          </blockquote>
          <figcaption>Criado por: <span>{{this.User.name}}</span> </figcaption>
        </figure>
      {{/each}}
    </div>
</div>

  
